<div class="wrapper-footer">
  <footer class="footer">
    <div class="row">
      <div class="col-lg-4">
        <div class="title">
          <p>Contact Information</p>
        </div>
        <div>
          <p><span>Sources and Solutions, LLC</span><br>
          <span>6332 Vrain Street</span><br>
          <span>Arvada, CO 80003</span><br>
          <a href="tel:800.991.2897">800.991.2897</a><br>
          Site by <a href="http://imaginethatcreative.net/" target="_blank">Imagine That: Dream Bigger</a><br>
          © 2013 Artifacts Teach</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="title">
          <p>Follow Us</p>
        </div>

        <div class="content">
          <ul class="follow-us">
            <li><a class="icon facebook" href="https://www.facebook.com/ArtifactsTeach" target="_blank">Facebook</a></li>
            <li><a class="icon rss" href="http://sourcesandsolutions.org/feed/" target="_blank">RSS</a></li>
            <!--<li><a class="icon youtube" href="http://www.youtube.com/" target="_blank">YouTube</a></li>-->
            <li><a class="icon twitter" href="https://twitter.com/ArtifactsTeach" target="_blank">Twitter</a></li>
            <li><a class="newsletter" href="http://eepurl.com/y0sZ5" target="_blank"><span class="newsletter-text">Newsletter Sign Up</span></a></li>
          </ul>
        </div>
    </div>
  </footer>
</div>